:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: Arial, Helvetica, sans-serif; */
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Exo 2", sans-serif;
  scroll-behavior: smooth;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; /* Take up remaining space */
}

footer {
  margin-top: auto;
  /* Your footer styles, e.g., padding, background color */
}
